:root {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.items {
  display: flex;
  flex-wrap: wrap;
}
